.grid.layout-none
	.grid__row.row
		.grid-img 
		.grid-text
			h4 Как отличить мерино шерсть от обычной?
			p Шерсть мериноса отличается от обычной шерсти по ряду характеристик, которые делают ее особенно ценной и привлекательной для использования в текстильной промышленности.
	.grid__row.row
		.grid-text
			p <em><u>Тонкость волокон:</u></em> <br>Шерсть мериноса состоит из очень тонких волокон, благодаря чему, мериносовая шерсть более мягкая и комфортная на ощупь, а также менее склонна к зуду на коже.
		.grid-img
	.grid__row.row
		.grid-img
		.grid-text
			p <em><u>Гипоаллергенность:</u></em> <br>мериносовая шерсть обладает натуральными антибактериальными свойствами и гипоаллергенностью, что делает ее идеальным материалом для людей с чувствительной кожей или аллергиями на синтетические волокна.
			p <em><u>Устойчивость к запахам:</u></em> <br>Мериносовая шерсть обладает высокой устойчивостью к образованию неприятных запахов