.grid.layout-none
	.grid__row.row
		.grid-img 
		.grid-text
			h4 Чем отличаются натуральные ковры от синтетических?
			p <em>Материал:</em> Натуральные ковры изготавливаются из органических материалов, таких как шерсть, хлопок или шелк. Синтетические ковры, напротив, производятся из искусственных волокон, таких как полиэстер, нейлон или акрил, которые производятся из нефтепродуктов.
	.grid__row.row
		.grid-text
			p <em>Долговечность:</em> Натуральные ковры обычно более долговечны и износостойкие, благодаря сильным и устойчивым волокнам. Синтетические ковры могут быть менее долговечными и подвержены истиранию, особенно в случае дешевых вариантов.
		.grid-img
	.grid__row.row
		.grid-img
		.grid-text
			p <em>Теплоизоляция и влагопоглощение:</em> Натуральные ковры, особенно шерстяные, обладают отличной теплоизоляцией и влагопоглощением, что делает их идеальными для поддержания комфортной температуры и сухости в помещении. Синтетические ковры могут иметь менее выраженные теплоизоляционные свойства и влагопоглощение.

	.grid__row.row
		.grid-text
			p <em>Аллергии:</em> Натуральные ковры, особенно из шерсти, могут быть более подходящими для людей с аллергией, так как шерсть имеет естественные антибактериальные и антистатические свойства, которые предотвращают скопление пыли и аллергенов. Синтетические ковры могут вызывать аллергические реакции у некоторых людей.
		.grid-img 
	.grid__row.row
		.grid-img
		.grid-text
			p <em>Традиционные техники и сохранение наследия:</em> Ручное производство ковров поддерживает старинные техники и знания, передаваемые из поколения в поколение. Это способствует сохранению культурного наследия и поддержанию устойчивых образов жизни у местных сообществ.
	.grid__row.row
		.grid-text
			p <em>Возможность ремонта и восстановления:</em> Ручные ковры часто могут быть отремонтированы и восстановлены, что продлевает их срок службы и снижает количество отходов. Восстановление и ремонт также могут использовать натуральные материалы и традиционные техники, что сохраняет их экологичность.
		.grid-img