main.collection
	.row
		.collection__item
			img.collection__img(src="../img/catalog-1.webp")
			p.collection__name Ko'k Oyna Gul
			p.collection__size  204 x 156
			p.collection__material Wool
		.collection__item
			img.collection__img(src="../img/catalog-2.webp")
			p.collection__name Buxoroiy
			p.collection__size 200 x 300
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-3.webp")
			p.collection__name Mamluk
			p.collection__size 200 x 300
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-4.webp")
			p.collection__name Och Oyna Gul
			p.collection__size  204 x 156
			p.collection__material Wool, using natural paints
		.collection__item
			img.collection__img(src="../img/catalog-5.webp")
			p.collection__name Gul Karta
			p.collection__size 150 x 200
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-6.webp")
			p.collection__name Yusufi Mazor
			p.collection__size 170 x 240
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-7.webp")
			p.collection__name Alabaxmal Karta
			p.collection__size 130 x 200
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-8.webp")
			p.collection__name Bakhtiyori Karta
			p.collection__size 200 x 300
			p.collection__material Merino wool
		.collection__item
			img.collection__img(src="../img/catalog-9.webp")
			p.collection__name Koshi karta
			p.collection__size 200 x 300
			p.collection__material Merino wool
		.collection__item
			img.collection__img(src="../img/catalog-10.webp")
			p.collection__name Mavri Gul Karta
			p.collection__size 100 x 150
			p.collection__material Wool
		.collection__item
			img.collection__img(src="../img/catalog-11.webp")
			p.collection__name Xojareshnoyi Firuzay
			p.collection__size 100 x 150
			p.collection__material Belgian wool
		.collection__item
			img.collection__img(src="../img/catalog-12.webp")
			p.collection__name Mudak
			p.collection__size 130 х 200
			p.collection__material Merino wool
		.collection__item
			img.collection__img(src="../img/catalog-13.webp")
			p.collection__name Sholcha karta
			p.collection__size 150 x 200
			p.collection__material Merino wool