main.about
	.about-img.layout-none
		img(src="../../img/grid-3.png")
		h1 О нас
	p.about-main-text Tavochi Art – это известная компания, специализирующаяся на создании и продаже эксклюзивных ручных ковров высокого качества. Мы объединяем традиции и современные техники в процессе создания наших произведений искусства для вашего дома.
	.about-row.row
		.about-text
			p <em><u>Миссия:</u></em> <br>Мы стремимся обеспечить нашим клиентам не только качественные и красивые ковры, но и предложить им возможность привнести уникальность и изысканность в их интерьеры. Наша миссия – распространять культуру ручных ковров, сохранять традиции и поддерживать мастеров ремесла, предлагая клиентам изделия, которые украсят их жизнь на протяжении многих лет.
			p <em><u>Ценности:</u></em> <br>Качество: <br>Мы тщательно контролируем каждый этап производства наших ковров, используя только самые лучшие натуральные материалы и красители, чтобы гарантировать высочайшее качество из делий и их долговечность.
		.about-text
			p Уникальность: <br>Каждый ковер Tavochi Art создается вручную, что делает его абсолютно уникальным и неповторимым. Мы ценим индивидуальность и предлагаем нашим клиентам изделия, которые подчеркивают их стиль и вкус.
			p Экологичность: <br>Мы используем только экологически чистые и натуральные материалы, что позволяет нам создавать продукцию, безопасную для окружающей среды и здоровья наших клиентов. Социальная ответственность: <br>Tavochi Art активно поддерживает местных мастеров и развивает ремесло, предоставляя достойные условия труда и обучение для сохранения и развития уникальных традиций ручного производства ковров.