main.contacts-main
	h1 Наши контакты 
	.contacts-main-content
		p Ташкент, парк Навруз, Фергана 34
		a(href="tel:+998 99 203 33 26") +998 99 203 33 26
		a(href="tel:+998 97 755 10 81") +998 97 755 10 81
		a(href="https://instagram.com/tavochi_a?igshid=MzRlODBiNWFlZA==")
			+sprite("instagram", "../../../img/sprites/sprite.svg#instagram")