main.main.layout-none
    .row
        .main-bg-1.img__empty
            img(src="../img/main-1.png")
        .main-bg-2
            img(src="../img/main-2.png")
    .main-meaning
        h1.main-meaning__title Аутентичность
        p.main-meaning__descr вручную созданных ковров
        button.main-meaning__btn Узнать больше