.announcement-products
	.announcement-products__heading
		h2.announcement-products__title Изделия
		p.announcement-products__descr Коллекция представлена изделиями из бельгийской и мериновой шерсти.
	.announcement-products__row.row
		.announcement-products-item
			.announcement-products-item__img
				img(src="../img/main-product-1.png")
			.announcement-products-item__descr
				p.announcement-products-item__name Model Materials, size
		.announcement-products-item
			.announcement-products-item__img
				img(src="../img/main-product-2.png")
			.announcement-products-item__descr
				p.announcement-products-item__name Model Materials, size
		.announcement-products-item
			.announcement-products-item__img
				img(src="../img/main-product-3.png")
			.announcement-products-item__descr
				p.announcement-products-item__name Model Materials, size
		.announcement-products-item
			.announcement-products-item__img
				img(src="../img/main-product-4.png")
			.announcement-products-item__descr
				p.announcement-products-item__name Model Materials, size  