section.visit
	h4 Посетите наш магазин
	p В магазине представлено 150 моделей...
	.visit-info.row
		.visit-img
			img(src="../../../img/main-blog-1.png")
		.visit-text The production technologies of handmade carpets have not changed for centuries. Each country has its own. There are dynasties in which the skill of carpet making is inherited. Only manual labor is used. 2-3 people working on one canvas at the same time, performing individual tasks.
	//- form(action='##')
	//- 	button.visit-button(type='button') Карта