section.visit
	h4 Посетите наш магазин
	p В магазине представлено 150 моделей ковров
	.visit-info.row
		.visit-img
			img(src="../../../img/main-blog-1.png")
		.visit-img
			img(src="../../../img/visit-2.jpg")
	.visit-text Производственные технологии ручного изготовления ковров не изменились на протяжении веков. У каждой страны есть свои особенности. Существуют династии, в которых мастерство изготовления ковров передается по наследству. Используется только ручной труд. 2-3 человека работают над одним полотном одновременно, выполняя индивидуальные задачи.